<mat-card>
  <mat-card-title>rwa Stats</mat-card-title>
  <mat-list>
    <mat-list-item>
      <span>Categories Count: <span id="category-count">{{(categoriesObs | async).length}}</span></span>
    </mat-list-item>
    <mat-list-item>
      <span>Tag Count: <span id="tag-count">{{(tagsObs | async).length}}</span></span>
    </mat-list-item>
    <mat-list-item>
      <span>Question Count: <span id="question-count">{{(questionsObs | async).length}}</span></span>
    </mat-list-item>
  </mat-list>
</mat-card>

<mat-card>
  <mat-card-title>Sample Questions</mat-card-title>
  <mat-card-content>    

    <question-list [questions]="sampleQuestionsObs | async" 
                  [categoryDictionary]="categoryDictObs | async"
                  class="flex-container" 
                  fxLayoutWrap="wrap"
                  fxLayout="row"
                  fxLayoutAlign="center" fxLayoutAlign.xs="start">
    </question-list>

  </mat-card-content>    
</mat-card>
